# Django & REST Framework
Django==5.2.6
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.0
django-cors-headers==4.9.0

# Database
psycopg==3.3.2
psycopg-binary==3.3.2

# AWS & Storage
boto3==1.42.13
django-storages==1.14.4

# AI/API
openai==1.58.1
google-generativeai==0.8.5

# Utils
python-decouple==3.8
python-dotenv==1.0.1
requests==2.32.4
pytz==2025.2
korean-lunar-calendar==0.3.1

# Image Processing
pillow==11.3.0
rembg==2.0.59

# Data Processing
numpy==2.3.2
