container_commands:
  00_clear_cache:
    command: "find /var/app/staging -type d -name '__pycache__' -exec rm -rf {} + 2>/dev/null || true"
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && python manage.py migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python manage.py collectstatic --noinput"
    leader_only: true
